@model Global_Solution.Application.Dtos.SensorDto

@{
    ViewData["Title"] = "Detalhes do Sensor";
}

<h2>Detalhes do Sensor</h2>

<div><strong>ID Sensor:</strong> @Model.ID_SENSOR</div>
<div><strong>ID Área:</strong> @Model.ID_AREA</div>
<div><strong>Tipo:</strong> @Model.TIPO_SENSOR</div>
<div><strong>Modelo:</strong> @Model.MODELO</div>
<div><strong>Instalação:</strong> @Model.DATA_INSTALACAO.ToString("dd/MM/yyyy")</div>
<div><strong>Última Manutenção:</strong> @Model.ULTIMA_MANUTENCAO?.ToString("dd/MM/yyyy")</div>
<div><strong>Status:</strong> @Model.STATUS_SENSOR</div>

<a asp-action="Edit" asp-route-id="@Model.ID_SENSOR" class="btn btn-primary">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Voltar</a>
