@model IEnumerable<Global_Solution.Application.Dtos.SensorDto>

@{
    ViewData["Title"] = "Sensores";
}

<h2>Lista de Sensores</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo Sensor</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Modelo</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.ID_SENSOR</td>
                <td>@s.TIPO_SENSOR</td>
                <td>@s.MODELO</td>
                <td>@s.STATUS_SENSOR</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@s.ID_SENSOR">Editar</a> |
                    <a asp-action="Details" asp-route-id="@s.ID_SENSOR">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@s.ID_SENSOR">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
