@model IEnumerable<Global_Solution.Application.Dtos.AreaRiscoDto>

@{
    ViewData["Title"] = "Áreas de Risco";
}

<h2>Lista de Áreas de Risco</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Nova Área</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.NOME_AREA</td>
                <td>@a.LATITUDE</td>
                <td>@a.LONGITUDE</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@a.ID_AREA">Editar</a> |
                    <a asp-action="Details" asp-route-id="@a.ID_AREA">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@a.ID_AREA">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
